# Firebase
.firebaserc

# Node
node_modules/
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Logs
*.log

# Temp
*.tmp
*.temp

# Local Build Artifacts / JDK
jdk17/
*.apk

